<!-- base extends -->
<table class="table request-tbl">
    <thead>
        <tr>
            <th>id</th>
            <th>user name</th>
            <th>complaint</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>Anju</td>
            <td>ajhasxb hjasxhas lklaxnjd kjhcudegfvyub efvhfuvh</td>
            <td>
                <a href="#" class="accept btn">accept</a>
                <a href="#" class="reject btn">reject</a>
            </td>
        </tr>
        <!-- Repeat rows for other requests -->
    </tbody>
</table>