<div class="complaint-view">
    <div class="complaint-head">
        <h3>complaint id:01</h3>
        <button class="btn submit" onclick="back()">back</button>
    </div>
    <form action="#">
        <label for="">name:</label>
        <input type="text" value="name 1">
        <label for="">Complaint:</label>
        <p>hjjbjhbv siuhfvju sdiuvh ahhjbfjsdzn</p>
        <div class="reply-div">
            <label for="">replay:</label>
            <textarea rows="8"></textarea>
            <input type="submit" value="send" class="btn accept">
        </div>
    </form>
</div>
