
            <!-- base extends -->
            <table class="table request-tbl">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>farmer name</th>
                        <th>labour days</th>
                        <th>total days</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>Saniga</td>
                        <td>88</td>
                        <td>100</td>
                    </tr>
                    <!-- Repeat rows for other requests -->
                </tbody>
            </table>
            <!--content ends-->
       