<div class="container">
    <header class="d-flex align-items-center justify-content-between py-3 mb-4 border-bottom">
        <h1 class="fs-4">My Orders</h1>
        <a href="/" class="btn btn-outline-primary">Back to Home</a>
    </header>

    <!-- List of orders -->
    <div>
        <!-- Order 1 -->
        <div class="order-card d-flex align-items-center">
            <img src="https://5.imimg.com/data5/ZC/TQ/XS/SELLER-15929133/fresh-apple-fruit-250x250.jpg" alt="Product Image">
            <div class="product-details">
                <h5>Product Name</h5>
                <p>Order #123456 | Ordered on: 01/02/2022</p>
            </div>
            <div class="order-buttons">
                <a href="product-dtls.html" class="btn reorder-btn">Reorder</a>
            </div>
        </div>

        <!-- Order 2 -->
        <div class="order-card d-flex align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdMdAr9xenn5o-QULGi9w3DiZJgtwgNSukSA&usqp=CAU" alt="Product Image">
            <div class="product-details">
                <h5>Product Name 2</h5>
                <p>Order #123457 | Ordered on: 15/03/2022</p>
            </div>
            <div class="order-buttons">
                <a href="product-dtls.html" class="btn reorder-btn">Reorder</a>
            </div>
        </div>

        <!-- Order 3 -->
        <div class="order-card d-flex align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7LwMvZIDpWs6evGw6p2uol_AQRFjQUg4akA&usqp=CAU" alt="Product Image">
            <div class="product-details">
                <h5>Product Name 3</h5>
                <p>Order #123458 | Ordered on: 25/04/2022</p>
            </div>
            <div class="order-buttons">
                <a href="product-dtls.html" class="btn reorder-btn">Reorder</a>
            </div>
        </div>
    </div>
</div>