<div class="container">
    <header class="d-flex align-items-center justify-content-between py-3 mb-4 border-bottom">
        <h1 class="fs-4">Notifications</h1>
        <a href="/" class="btn btn-outline-primary">Back to Home</a>
    </header>

    <!-- List of orders -->
    <div>
        <!-- notification 1 -->
        <div class="order-card d-flex align-items-center">
            <div class="product-details">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, possimus.</p>
            </div>
           <p>01-01-2023</p>
        </div>
        <!-- notification 1 -->
        <div class="order-card d-flex align-items-center">
            <div class="product-details">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, possimus.</p>
            </div>
            <p>01-01-2023</p>
        </div> <!-- notification 1 -->
        <div class="order-card d-flex align-items-center">
            <div class="product-details">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, possimus.</p>
            </div>
            <p>01-01-2023</p>
        </div>

    </div>
</div>