 <!-- content here -->
 <div class="cart-item p-5">
    <section class="product">
        <div class="product__photo">
            <div class="photo-container">
                <div class="photo-main">
                    <img src="https://res.cloudinary.com/john-mantas/image/upload/v1537291846/codepen/delicious-apples/green-apple-with-slice.png"
                        alt="green apple slice">

                </div>
                <div class="photo-album">
                    <ul>
                        <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302064/codepen/delicious-apples/green-apple2.png"
                                alt="green apple"></li>
                        <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537303532/codepen/delicious-apples/half-apple.png"
                                alt="half apple"></li>
                        <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537303160/codepen/delicious-apples/green-apple-flipped.png"
                                alt="green apple"></li>
                        <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537303708/codepen/delicious-apples/apple-top.png"
                                alt="apple top"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product__info">
            <div class="title">
                <h1>Delicious Apples</h1>
                <span class="review-stars" data-rating="4"></span><br>
                <p class="rate" style="font-size: 16px;">1230 <span>reviews</span></p>
                <span>COD: 45999</span>
            </div>
            <div class="price">
                $50.99
            </div>
            <div class="description">
                <h3>Benefits</h3>
                <ul>
                    <li>Apples are nutritious</li>
                    <li>Apples may be good for weight loss</li>
                    <li>Apples may be good for bone health</li>
                    <li>They're linked to a lower risk of diabetes</li>
                </ul>
            </div>
            <div class="quantity col-md-4">
                <label for="quantity">Quantity (kg):</label>
                <input id="quantity" type="number" value="1" class="form-control quantity-input">
            </div>
            <button class="buy--btn">buy</button>
        </div>
    </section>
</div>