<!-- products -->
<div class="products" id="products">
  <section style="background-color: #deede5;">
      <div class="text-center container py-5">
        <h4 class="mt-4 mb-5"><strong>Products</strong></h4>
         <div class="product-list">
          <!-- loop here -->

          <div class="card m-4">
              <a href="product-dtls.html">
              <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="https://5.imimg.com/data5/AK/RA/MY-68428614/apple.jpg"
                  class="w-100" />
                  <div class="mask">
                    <div class="offerbadge">
                      <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                      <a href="#" class="favorites-icon"><i class="bi bi-heart"></i></a>
                    </div>
                  </div>
                  <div class="rating">
                      <span class="review-stars" data-rating="3"></span> <!--data rating here-->
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
              </div>
              <div class="card-body">
                <h5 class="card-title mb-3">Apple</h5>
                <p>farm fresh apple</p>
                <h6 class="mb-3">
                  <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>/kg
                </h6>
                <div class="card-icons">
                  <a href="product-details.html" class="nav-links cart">
                    <span>Order Now</span>
                </a>
                </div>
              </div>
              </a>
          </div>
          
         
          <!-- loop ends -->
      </div>  
  </section>
</div>