<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="head">
        <h3>logo</h3>
        <div class="logout">
            <a href="#">admin <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqafzhnwwYzuOTjTlaYMeQ7hxQLy_Wq8dnQg&s" alt="admin"></a>
        </div>
    </div>
    <div class="container">
        <div class="nav">
          <a href="adminbase copy.html"><i class="fa-solid fa-house"></i>Home</a>
          <a href="requests.html"><i class="fa-solid fa-user-plus"></i>Requests<span>2</span></a>
          <a href="farmers.html"><i class="fa-solid fa-users"></i>Farmers</a>
          <a href="market.html"><i class="fa-solid fa-chart-line"></i>Market & trends</a>
          <a href="labour-det.html"><i class="fa-solid fa-circle-info"></i>Labour details</a>
          <a href="complaints.html"><i class="fa-solid fa-circle-info"></i>Complaints <span>2</span></a>
          <a href="policy.html"><i class="fa-solid fa-file-pen"></i>Policy details</a>
        </div>
        <div class="content">
        <!-- content starts here -->
     <div class="dash">
        <div class="dash-div">
            <a href="farmers.html">
                <h2><i class="fa-solid fa-users"></i> Users</h2>
                <span>500</span>
            </a>
          </div>
          <div class="dash-div">
            <a href="complaints.html">
                <h2><i class="fa-solid fa-circle-info"></i> Complaints </h2>
                <span>3</span>
            </a>
          </div>
          <div class="dash-div">
            <a href="market.html">
                <h2><i class="fa-solid fa-chart-line"></i> Market trends</h2>
            </a>
          </div>
          <div class="dash-div">
            <a href="requests.html">
                <h2><i class="fa-solid fa-user-plus"></i> Requests </h2>
                <span>20</span>
            </a>
          </div>
     </div>
        <!--content ends-->
        
        </div>
    </div>
</body>
</html>