000000000000000000000000000000000000000000000000000000000000000000000000000000
            <div class="graph swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide graph-div1">
                        <canvas id="lineChart"></canvas>
                    </div>
                    <div class="swiper-slide graph-div2">
                        <canvas id="barChart"></canvas>
                    </div>
                    <div class="swiper-slide graph-div3">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>

                <!-- Swiper Navigation Buttons inside .graph container -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
