0000000000000.<!-- base extends -->
<table class="table request-tbl">
    <thead>
        <tr>
            <th>Request id</th>
            <th>user name</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>Anju</td>
            <td>ajhasxb hjasxhas lklaxnjd</td>
            <td>
                <a href="requestDetails.html" class="view btn">View</a>
            </td>
        </tr>
        <!-- Repeat rows for other requests -->
    </tbody>
</table>