<!-- base extends -->

<div class="req-dtls">
    <div class="div1">
       <img src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg" alt="">
       <h3>name here</h3>
       <p>email@email.com</p>
       <div class="div3">
           <a href="#" class="accept btn">Accept</a>
            <a href="#" class="reject btn">Reject</a>
        </div> 
    </div> 
    <div class="div2">
      <div class="det">
       <p><span>name:</span> user 1</p>
      </div>
      <div class="det">
       <p><span>Place:</span>user's place</p>
      </div>
      <div class="det">
       <p><span>mobile:</span> 2365425674</p>
      </div>
      <div class="det">
       <p><span>details:</span> kjfhfvufhvfui</p>
      </div>
      <div class="det">
       <p><span>details:</span> kjfhfvufhvfui</p>
      </div>
    </div> 
       
  </div>
